#question-paper-preview {
    max-width: 688px !important;
}

.question-header-table {
    width: 100%;
    margin-bottom: 15px;
}

.question-header-body {
    width: 100%;
}

.question-header-two {
    font-size: 16px;
    font-weight: bold;
    margin: 0 !important;
}

.question-clg {
    font-size: 16px !important;
    font-weight: bold;
    margin: 0 !important;
    text-align: center;
}

.question-header {
    font-size: 16px;
    font-weight: bold;
    text-align: center;
    margin: 0 !important;
}

#questionpaper-logo {
    width: 65px;
    height: 100%;
}

#question-count-container {
    background-color: var(--base5);
    color: white;
} 

.refresh-btn {
    color: #7f7f7f;
}

.generate-question-paper-btn {
    color: white !important;
    background-color: var(--base2) !important;
}

@media (max-width : 430px) {
    .count-head {
        font-size: 15px;
    }
}