
.staff-container {
    box-shadow: var(--main-shadow);
    font-family: var(--staff-font);
}

.side-line {
    width: 5px;
    background-color: var(--base4);
}

#btn-logout {
    background-color: #F32121;
    border : 1px solid #F32121;
    color: white;
}

#btn-theme {
    background-color: transparent;
    border : 1px solid #F32121;
}

.info-box {
    background-color: var(--86);
    font-size: 12px;
}

#collapse-btn {
    color: var(--8);
}

.card {
    background-color: transparent !important;
    color: inherit !important;
}

#btn-theme {
    background-color: transparent !important;
    color: inherit !important;
}


#collapse-btn {
    background-color: transparent !important;
    color: inherit !important;
}

.back-to-button {
    position: fixed;
    bottom: 20px;
    right: 20px;
    background-color: var(--base1);
    padding: 10px;
    border-radius: 50%;
}

.back-to-button .back-to-home-icon {
    color: white;
}

@media (max-width : 320px) {
    #staff-label {
        font-size: 12px;
    }
}